.profile-container{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  
 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
  align-items: center;

}
.profile{
  /* width: 3rem;
  height: 3rem; */
  width: 6rem;
  height: 6rem;
  /* border: 4px solid red; */
  border-radius: 50%;
}
.btn{
  color: white;
  background-color: red;
  border: none;
  padding:0.25rem 0.75rem;
}
@media screen and (min-width: 576px) {}

/* Medium devices (tablets) */

@media (min-width: 768px) {}

/* Large devices (desktops) */

@media (min-width: 991px) {
  .profile{
    width: 3rem;
    height: 3rem;
  }
  .profile-container{
    /* width: 3rem;
    height: 3rem; */
     display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  }
  .profile-view{
    position: absolute;
    bottom: 1px;
    background-color: #F3F4F6;
    width: 10rem;
    height: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    top: 3rem;
   
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
  }
  .profile-container:hover .profile-view{
    display: flex;
  }
  
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {}